@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
    color: #04146c;
}

main{
    justify-content:center;
    display: flex;
    margin: auto;
    align-items: center;
}

div {
    margin-right: 30px;
    width: 30%;
}

h1{
    font-size: 4rem;
    font-weight: 700;
    color: #0a2ff1;
}

#parrafo1{
    font-size: 2rem;
    font-weight: 300;
}

#imagen2{
    width: 30%;
}

p{
    font-size: 1rem;
    font-weight: 400;
}

span{
    font-weight: 700;
}


/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
body{ font-family: 'Roboto', sans-serif;}

h1 { font-size: 64px; color: #0a2ff1; font-weight: 700; }

p { font-weight:400; font-size: 16px; color: #04146c;}

p span { font-weight: 700;}

#parrafo1 { font-weight: 300;font-size:32px;}
#imagen2 { width: 30%;}
main { display: flex; margin: auto; justify-content:center; align-items: center;}
div { margin-right: 5px; width: 30%;} */